<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

    <title>Hello AngularJS</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->

</head>

<body ng-app="nar-rac">

    <div class="container">


        <div class="col-md-8 col-md-offset-2" ng-controller="SignUpController">

            <form class="form-horizontal" role="form">
                <div class="form-group form-group-md">
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="newPerson.firstName">&nbsp;
                        <input type="text" class="form-control" ng-model="newPerson.lastName">&nbsp;
                    </div>
                    <button class="btn btn-primary" ng-click="signUp(newPerson)">Add</button>
                </div>
            </form>

        </div>

    </div>


    <script src="/webjars/angularjs/1.4.8/angular.js"></script>
    <script src="/webjars/angularjs/1.4.8/angular-route.js"></script>
    <script src="js/apps.js"></script>

</body>
</html>